.waipperSpans {
  display: flex;
  flex-wrap: wrap;

  /* border: 2px solid red; */
  align-items: center;
}

.pageNumber {
  all: unset;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 24px;
  margin: 0 6px;

  border: none;
  border-radius: 2px;

  &.selectedPage {
    color: var(--color-dark-900);
    background: var(--color-light-100);
  }

  &.prev {
    margin-left: 0;
  }

  &.next {
    margin-right: 20px;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent-300);
  }
}

.disabledArrow {
  color: var(--color-dark-100);
}

.right {
  color: red;
}
