@mixin ava-user-name-block {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 12px 0;

  img {
    border-radius: 50%;
  }
}
@mixin date {
  color: var(--color-light-900);
}
.commentsWr {
  display: flex;
  //flex: 1 1 482px;
  max-width: 482px;
  width: 100%;
  flex-direction: column;

  .avaUserNameBlock {
    @include ava-user-name-block;

    padding-left: 24px;
  }

  .hr {
    width: 100%;

    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--color-dark-100);
    border-left: none;
  }

  .commentsUl {
    padding-top: 16px;
    padding-left: 24px;
    overflow: hidden;
    list-style: none;
    flex-grow: 1;
  }

  .likesBlock {
    &.public {
      min-height: 83px;
    }
    padding: 11px 24px 7px;
  }
}
.editLineBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 23px;
}
.avaUserNameBlock {
  @include ava-user-name-block;
}
.commentsBlock {
  padding-right: 10px;
}
.date {
  @include date;
  //margin-top: 5px;
}
.button {
  all: unset;
  height: 24px;
  svg {
    fill: currentColor;
  }
}
.iconsHerzAndDirect {
  display: flex;
  gap: 24px;
}
.iconsBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.form {
  display: flex;
  padding-left: 24px;

  .input {
    flex-grow: 1;
    & input {
      padding: 0;
      line-height: 59px;
      outline-color: transparent;
      &:hover {
        outline-color: transparent;
      }
    }
  }
}

.likesCountDateBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.likesCount {
  display: inline-flex;
  align-items: center;

  span.span {
    display: inline-block;

    &.l1 {
      transform: translateX(12px);
    }
    &.l2 {
      transform: translateX(3px);
    }
    &.l3 {
      transform: translateX(-6px);
    }
  }
}

.avatarsLiked {
  display: flex;
  position: relative;
}
.avaSmall {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  z-index: 3;

  &:nth-child(2) {
    transform: translateX(-9px);
    z-index: 2;
  }
  &:nth-child(3) {
    transform: translateX(-18px);
    z-index: 1;
  }
}
