@forward 'colors';
@forward 'typography';
@forward 'boilerplate';

li[data-sonner-toast] {
  height: 48px;
  border: none;
  position: relative;
}

.page404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}