.item {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  width: 319px;
  border-bottom: 1px solid var(--color-dark-100);
}
.triggerButtonConfirmDelete {
  padding: 0;
  background: none;
  &:hover {
    background: none;
  }
}
.content {
  padding: 16px 0 12px 12px;
  border: 1px solid var(--color-dark-100);
  background-color: var(--color-dark-500);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 355px;
  height: 424px;

  h3 {
    font:
      500 16px/24px Roboto,
      sans-serif;
    border-bottom: 1px solid var(--color-dark-100);
    padding-bottom: 12px;
  }
}

.trigger {
  display: inline-flex;
  gap: 14px;
}

.group {
  display: flex;
  flex-direction: column;
}
.openColor {
  color: var(--color-accent-500);
  svg {
    fill: currentColor;
  }
}
.wrapperNotiefItems {
  height: 100%;
  overflow: hidden;
}
.titleNewNotief {
  color: var(--color-accent-500);
}
.notiefMessage {
  font:
    14px/24px Roboto,
    sans-serif;
}
.date {
  color: var(--color-light-900);
}
