.content {
  //max-width: 378px;

  //width: 100%;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 12px 24px;

    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);

    @media (max-width: 360px) {
      & {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 42px;

    border: 1px solid var(--color-dark-100);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (max-width: 360px) {
      & {
        width: 330px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }


    .avaAndQuestionConfirmBlock {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .buttonBlock {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
      @media (max-width: 360px) {
        & {
          flex-direction: column;
        }
      }

      .yesButton,
      .noButton {
        width: 96px;
        @media (max-width: 360px) {
          & {
            width: 100%;
          }
        }
      }
    }

    .image {
      border-radius: 50%;
    }
  }

  .close {
    padding: 0;
  }
}
